body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    border: solid 5px black;    
}
.display{
    border: solid 2px grey;
    padding: 5px;
}